* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 101%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


html {


    vertical-align: middle;
    font-family: 'Roboto', sans-serif;

}
.navbar {
    display: inline-block;
}
.wrapper {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
header {

    position:fixed;
    opacity: 1;
    background-color:#ffffff;
    width:100%;
    display: inline-block;
    top: 0;
}

.hero {
    background-image: url(images/heroCropped.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    color: aliceblue;
    height:950px;
}
article {
    margin-top: auto;
    height:950px;
    margin-bottom: auto;
}

.billBoard img {
      border:0px;
}

h1 {
    font-size: 200%;
    font-family: 'Supermercado One', cursive;
    float: left;
}
h2 {
    font-size:175%
}
h3 {
    font-size:150%
}
h4 {
    font-size:125%
}

h2,
h3,
h4,
footer {
    text-align: center;
    font-family: 'Supermercado One', cursive;
}


@keyframes fadeIn {
    10% {
        opacity: .33;
    }
    20% {
        opacity: .66;
    }
    30% {
        opacity: .99;
    }
    40% {
        opacity: 1;
    }
}

nav li {
    float:right;
    display: inline-block;
    text-decoration: none;
    padding-left: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

 a:hover {
    background-color: #9FD2ED;
    color: aliceblue;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}


footer li {
    display: inline-block;
    text-decoration: none;
    padding-top: 30px;
}

footer li img {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    max-height: 30px;
    margin-bottom: 20px;
}

.colpic {
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid;
    width: 100%;

}
#projects {
    background-color: #fcfcfc;
}
#projects img {
    margin-top: 10px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

#projects ul {
    vertical-align: middle;
    list-style: none;
}




.stackBox{
    min-height: 100px;
}
.stackBox ul{
    text-align: center;
    height: 130px;
    }

article {
  padding-top: 50px;
    transition: 2s;
}
.projectsBox {
    min-height: 250px;
}
.herotext{
    margin-top: 50px;
}
p{
    margin-bottom: 5px;
}
#techPics {
    text-align: center;
}
#techPics li{
    display:inline-block;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.centerItem  {

padding-top: 120px;
    display: table-cell;
    vertical-align: middle;

}
